<form [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="30" fxFlexOffset="35"
    (ngSubmit)="onSubmit()">
    <h3>Change password</h3>
    <mat-form-field>
        <input formControlName="currentPassword" matInput placeholder="Current Password" name="currentPassword"
            type="password">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="password" matInput placeholder="Password" name="password" type="password">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="passwordConfirmation" matInput placeholder="Password Confirmation"
            name="passwordConfirmation" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Change</button>
</form>