<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>V-Stack</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <app-theme-menu></app-theme-menu>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="userMenu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>