@import 'src/app/variables';

mat-card {
    padding: 0;
}

form {
    padding: 20px;
}

.login-link {
    margin-top: 10px;
    text-align: center;

    a {
        text-decoration: none;
        color: $accent;
        font-weight: lighter;
    }
}