@import 'src/app/styles/shared';

div.notification-item {
    padding: 15px 5px 0px 5px;
    display: flex;
    flex-direction: row;

    mat-icon.notification-type {
        margin-right: 10px;
    }

    p {
        &.content {
            padding-bottom: 0;
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }
    
        &.created {
            color: #aaa
        }
    }    
}

div.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;

    ::ng-deep mat-icon {
        cursor: pointer;
        color: #ddd;
        font-size: 1rem !important;
        text-align: right;
        margin-left: 10px;

        &:hover {
            color: $info-color;
        }
    }
}
