<div fxFlex fxLayoutGap="10px">
    <button mat-button color="accent" (click)="add()">
        <mat-icon>add</mat-icon>
        <span>Add</span>
    </button>
    <!-- <button mat-button color="accent" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
    </button>
    <button mat-button color="accent" [disabled]="!instanceStore.selection.hasValue()">
        <mat-icon>get_app</mat-icon>
        <span>Export to CSV</span>
    </button>
    <button mat-button color="accent" [disabled]="!instanceStore.selection.hasValue()" (click)="start()">
        <mat-icon>play_arrow</mat-icon>
        <span>Start</span>
    </button>
    <button mat-button color="accent" [disabled]="!instanceStore.selection.hasValue()" (click)="restart()">
        <mat-icon>autorenew</mat-icon>
        <span>Restart</span>
    </button>
    <button mat-button color="accent" [disabled]="!instanceStore.selection.hasValue()" (click)="stop()">
        <mat-icon>stop</mat-icon>
        <span>Stop</span>
    </button>
    <button mat-button color="accent" [disabled]="!instanceStore.selection.hasValue()" (click)="delete()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span> -->
    <!-- </button> -->
</div>