<div class="dialog">
    <h1 mat-dialog-title>Add Instance</h1>
    <form [formGroup]="instanceForm">
        <mat-dialog-content>
            <mat-accordion multi displayMode="flat">
                <mat-expansion-panel class="mat-elevation-z1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Name
                        </mat-panel-title>
                        <mat-panel-description fxFlex="none">
                            <mat-icon>
                                edit
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field fxFlex>
                        <input matInput formControlName="name" placeholder="Instance Name" type="text" name="instance" required>
                    </mat-form-field>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Image
                        </mat-panel-title>
                        <mat-panel-description fxFlex="none">
                            <mat-icon>
                                filter_none
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <app-image-picker formControlName="image"></app-image-picker>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Volumes
                        </mat-panel-title>
                        <mat-panel-description fxFlex="none">
                            <mat-icon>
                                save
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <app-volume-picker formControlName="volumes"></app-volume-picker>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            CPU
                        </mat-panel-title>
                        <mat-panel-description fxFlex="none">
                            <mat-icon>
                                priority_high
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div>
                        <h5>CPU shares (relative weight)</h5>
                        <mat-slider formControlName="cpuShares" color="primary" min="0" max="100" step="1" thumbLabel>
                        </mat-slider>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Memory
                        </mat-panel-title>
                        <mat-panel-description fxFlex="none">
                            <mat-icon>
                                memory
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <h5>Memory Limit</h5>
                    <div fxLayout="row" fxLayoutGap="15px">
                        <mat-form-field fxFlex>
                            <input formControlName="memoryLimitValue" matInput type="number" name="memory-limit"
                                value="1">
                        </mat-form-field>
                        <mat-form-field fxFlex="none">
                            <mat-select formControlName="memoryLimitUnit" value="g">
                                <mat-option value="b">B</mat-option>
                                <mat-option value="k">KB</mat-option>
                                <mat-option value="g">GB</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel class="mat-elevation-z1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            User
                        </mat-panel-title>
                        <mat-panel-description fxFlex="none">
                            <mat-icon>
                                person
                            </mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field fxFlex>
                        <input formControlName="user" matInput placeholder="Username (root if empty)" type="text"
                            name="user">
                    </mat-form-field>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button cdkFocusInitial (click)="add()">Add</button>
        </mat-dialog-actions>
    </form>
</div>