mat-card {
    padding: 16px 25px;
    margin: 15px;
    cursor: pointer;

    div {
        text-align: center;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 0;
    }
}

div.image {
    height: 120px;

    img {
        max-width: 100px;
    }
}