@import '~@angular/material/theming';

.login-div mat-card {
    padding: 0;
}

.login-form {
    padding: 20px;
}

.register-link {
    margin-top: 10px;
    text-align: center;

    a {
        font-weight: lighter;
    }
}