<div fxFlex fxLayoutGap="10px">
    <button mat-button color="accent">
        <mat-icon>add</mat-icon>
        <span>Add</span>
    </button>
    <button mat-button color="accent" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
    </button>
    <button mat-button color="accent">
        <mat-icon>get_app</mat-icon>
        <span>Export to CSV</span>
    </button>
    <button mat-button color="accent">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
    </button>
</div>