<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{ currentUser?.username }}</h2>
        </div>
        <img [src]="userAvatar">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instances">Instances</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/images">Images</a>

    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Settings
    </a>

</mat-nav-list>