<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{ currentUser?.email }}</h2>
        </div>
        <img [src]="userAvatar">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>bar_chart</mat-icon>
        Dashboard
    </a> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instances">
        <mat-icon>dns</mat-icon>
        Instances
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/images">
        <mat-icon>filter_none</mat-icon>
        Images
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/terminals">
        <mat-icon>featured_play_list</mat-icon>
        Terminals
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Settings
    </a>

</mat-nav-list>