name: backend

on:
  push:
    paths:
    - 'backend/**'
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install flake8
      run: |
        pip install flake8

    - name: Run flake8
      run: flake8 backend/

  type-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install mypy
      run: pip install mypy

    - name: Run mypy
      run: mypy backend/

  unit-tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:10
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: vstack

    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install requirements
      run: pip install -r backend/requirements/dev.txt

    - name: Run migrations
      run: python backend/manage.py migrate

    - name: Run unit tests
      run: |
        cd backend/
        python manage.py test
